@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('../fonts/Microsoft-SansSerif.eot');
    src: url('../fonts/Microsoft-SansSerif.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Microsoft-SansSerif.woff') format('woff'),
        url('../fonts/Microsoft-SansSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

