<ul class="exchange-list exchange-remains">
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex2" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex2" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/privat24.png" alt="">
                </span>
                <span class="exchange-list__item-name">Приват 24UAH</span>
            </span>
            <span class="exchange-list__item-remain">185 955.00</span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex3" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex3" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/yandexmoney.png" alt="">
                </span>
                <span class="exchange-list__item-name">Яндекс.Деньги</span>
            </span>
            <span class="exchange-list__item-remain"></span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex4" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex4" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/visa.png" alt="">
                </span>
                <span class="exchange-list__item-name">Visa/MasterCard UAH</span>
            </span>
            <span class="exchange-list__item-remain">145 898.00</span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex5" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex5" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/oschadbank.png" alt="">
                </span>
                <span class="exchange-list__item-name">Ощадбанк</span>
            </span>
            <span class="exchange-list__item-remain">139 911.00</span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex6" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex6" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/monobank.png" alt="">
                </span>
                <span class="exchange-list__item-name">Монобанк</span>
            </span>
            <span class="exchange-list__item-remain">128 490.00</span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex7" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex7" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/pumb.png" alt="">
                </span>
                <span class="exchange-list__item-name">ПУМБ</span>
            </span>
            <span class="exchange-list__item-remain">135 107.00</span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex8" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex8" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/raiffaisen.png" alt="">
                </span>
                <span class="exchange-list__item-name">Райффайзен UAH</span>
            </span>
            <span class="exchange-list__item-remain">134 717.00</span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex9" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex9" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/btc.png" alt="">
                </span>
                <span class="exchange-list__item-name">Bitcoin (BTC)</span>
            </span>
            <span class="exchange-list__item-remain">1.90</span>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="rightexchange" id="rightex10" type="radio" class="exchange-list__item-checkbox">
        <label for="rightex10" class="exchange-list__item-label">
            <span class="exchange-list__item-bank">
                <span class="exchange-list__item-icon">
                    <img src="./images/bcn.png" alt="">
                </span>
                <span class="exchange-list__item-name">Bitcoin Cash (BCN)</span>
            </span>
            <span class="exchange-list__item-remain">7.22</span>
        </label>
    </li>
</ul>