.the-button {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 16px 97px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  min-height: 38px;
  outline: none;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  background: #3413FC;
  border-radius: 1px;
  transition: $delay;

  &:hover {
    background: darken(#3413FC,10%);
  }

}
