<div class="main-content">
    <div class="container main-content__container">
        <div class="frame main-content__left">
            <div class="main-content__exchange">
                <div class="h2">Отдаете</div>
                {{> exchange-list }}
            </div>
            <div class="main-content__receive">
                <div class="main-content__receive-title">
                    <div class="h2">Получаете</div>
                    <div class="main-content__accessibly_desktop">Доступный резерв</div>
                    <div class="main-content__accessibly_mobile">Доступно</div>
                </div>

                {{> exchange-remains }}
            </div>
        </div>
        <div class="frame main-content__right">
            <div class="h2">Сумма обмена</div>
        </div>
    </div>
</div>