.frame {
  width: 100%;
  background: #FFF;
  box-shadow: 0 5px 5px rgba(128, 163, 182, 0.15);
  border-radius: 2px;
}

.main-content {
  padding: 25px 0;

  &__container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 991px) {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 630px;
    display: flex;
    padding: 14px 7px 5px 20px;
    margin-bottom: 50px;

    @media(max-width: 991px) {
      margin-right: 20px;
      max-width: 990px;
      padding: 14px 5px 5px;
    }
  }

  &__exchange {
    margin: 7px 0 0 11px;
  }

  &__receive {
    padding: 0 11px;
    width: 100%;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      letter-spacing: -0.5px;

      .h2 {
        margin-bottom: 0;

        @media(max-width: 414px) {
          margin-left: -10px;
        }
      }
    }
  }

  &__accessibly {
    font-size: 12px;


    &_desktop {
      @media(max-width: 575px) {
        display: none;
      }
    }

    &_mobile {
      display: none;

      @media(max-width: 575px) {
        display: block;
      }
    }
  }

  &__right {
    max-width: 300px;
    padding: 14px 20px 22px;

    @media(max-width: 991px) {
      max-width: 990px;
    }
  }

  &__exchange-form {
    padding: 0 2px;
  }
}