<ul class="exchange-list">
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex1" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex1" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/qiwi.png" alt="">
            </div>
            <div class="exchange-list__item-name">QIWI RUB</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex2" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex2" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/privat24.png" alt="">
            </div>
            <div class="exchange-list__item-name">Приват 24UAH</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex3" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex3" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/yandexmoney.png" alt="">
            </div>
            <div class="exchange-list__item-name">Яндекс.Деньги</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex4" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex4" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/visa.png" alt="">
            </div>
            <div class="exchange-list__item-name">Visa/MasterCard UAH</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex5" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex5" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/oschadbank.png" alt="">
            </div>
            <div class="exchange-list__item-name">Ощадбанк</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex6" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex6" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/monobank.png" alt="">
            </div>
            <div class="exchange-list__item-name">Монобанк</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex7" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex7" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/pumb.png" alt="">
            </div>
            <div class="exchange-list__item-name">ПУМБ</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex8" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex8" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/raiffaisen.png" alt="">
            </div>
            <div class="exchange-list__item-name">Райффайзен UAH</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex9" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex9" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/btc.png" alt="">
            </div>
            <div class="exchange-list__item-name">Bitcoin (BTC)</div>
        </label>
    </li>
    <li class="exchange-list__item">
        <input name="leftexchange" id="leftex10" type="radio" class="exchange-list__item-checkbox">
        <label for="leftex10" class="exchange-list__item-label">
            <div class="exchange-list__item-icon">
                <img src="./images/bcn.png" alt="">
            </div>
            <div class="exchange-list__item-name">Bitcoin Cash (BCN)</div>
        </label>
    </li>
</ul>