<footer class="main-footer">
    <div class="container main-footer__container">
        <div class="main-footer__nav">
            <a href="#" class="main-footer__nav-link">О нас</a>
            <a href="#" class="main-footer__nav-link">Курсы</a>
            <a href="#" class="main-footer__nav-link">AML</a>
            <a href="#" class="main-footer__nav-link">Контакты</a>
            <a href="#" class="main-footer__nav-link">Соглашение</a>
            <a href="#" class="main-footer__nav-link">
                {{> icon iconName="info" classNames="info" }}
                Инструкция по обмену
            </a>
            <a href="#" class="main-footer__nav-link">
                Отзывы на Besychange
                {{> icon iconName="newlink" classNames="newlink" }}
            </a>
        </div>
        <div class="main-footer__copyright">2015-2020 WM.express</div>
    </div>
</footer>