<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Wm.express - наилучший обмем валют в Интернете</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script defer="defer" src="js/bundle.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{> body}}

</body>
</html>