<nav id="nav">
    <ul>
        <li><a href="#" class="nav__link">Обмен</a></li>
        <li><a href="#" class="nav__link">Бонусы</a></li>
        <li><a href="#" class="nav__link">Заработок</a></li>
        <li><a href="#" class="nav__link">FAQ</a></li>
        <li><a href="#" class="nav__link">
            {{> icon iconName="support" classNames="support" }}
            Связаться с поддержкой
        </a></li>
    </ul>
</nav>

